@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Vollkorn', Georgia, serif;
}

img{
    max-width: 100%;
    display: block;
}

/* ESTRUTURA GERAL */

.estrutura{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
    "header header header"
    "sidenav content anuncios"
    "footer footer footer"
    ;
}

.header{
    grid-area: header;
    background: linear-gradient(90deg, rgba(131,58,180,1) 28%, rgba(131,58,180,1) 41%, rgba(106,29,253,1) 73%);
    padding: 30px;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
}

.header nav a{
    display: block;
    padding: 10px;
    background: rgba(0,0,0,.1);
    border-radius: 5px;

    color: #fff;
    font-size: 1.125em;
    font-weight: bold;

    transition: .4s;
}

.header nav a:hover{
    background: rgba(0,0,0,.5);
}

.header li + li{
    margin-left: 30px;
}

.logo{
    max-width: 200px;
}

/* SUB-MENU */

.side-nav{
    grid-area: sidenav;
    background: #fafbfc;
}

.side-nav li a{
    display: block;
    min-width: 90px;
    max-width: 160px;
    margin: 30px auto 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.30);
    transition: .3s ease-out;
}

.side-nav li a:hover{
    background: #833AB4;
}

.content{
    grid-area: content;
}

.anuncios{
    grid-area: anuncios;
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    gap: 30px;
}

.footer{
    grid-area: footer;
}